{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "里志" %}{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/event.css' %}">
{% endblock %}

{% block body_block %}
<div class="container">
  <div class="card my-4">
    <br>
    <div class="card-header">
      <div class="row">
        <div class="col-10">
          <h3>{% trans 'Event by topic' %}</h3>
        </div>
        <div class="col-2">
          <a href="{% url 'event:post_event' %}" class="btn btn-primary float-right">
            <i class="fas fa-pencil" aria-hidden="true"></i> {% trans "Post an Event" %}
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      {% for tag, count in popular_tags %}
        <a href="#"><span class="badge badge-info">{{ count }} {{ tag }}</span></a>
      {% endfor %}
    </div>
  </div>
  <div>
    {% for event in events %}
      {% include 'event/event_sample.html' with event=event %}
    {% empty %}
      <h4 class="no-data">{% trans "No event yet" %}</h4>
    {% endfor %}

    {% if is_paginated %}
      <ul class="pagination justify-content-center mb-4">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&larr; {% trans 'Newer' %}</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#"><span>&larr;</span></a></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item disabled"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans 'Older' %} &rarr;</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#"><span>&rarr;</span></a></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}


{% block javescript %}
  <script src="{% static 'js/event.js' %}"></script>
{% endblock %}
