{% extends 'base.html' %}

{% load static %}

{% block title %}article{% endblock %}

{% block body_block %}
	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				{% if article %}
					<h1>{{ article.title }}</h1>
					<p>
						Type: <a href="{% url 'article:category' article.category.slug %}">{{article.category}}</a>
						Pulished by {{ article.author }} on {{ article.created_at|date:"Y-m-d H:n:s" }} 
					</p>
					<p> {{ article.md | safe }} </p>
					<p>Read {{ article.read }} times,   Updated on {{ article.updated_at }}</p>
          <p>Previous: 
            {% if previous_article %}
              <a href="/article/{{article.category.slug}}/{{previous_article.pk}}">{{previous_article.title}}</a>
            {% else %}
              None
            {% endif %}
          </p>
          <p>Next:
            {% if next_article %}
               <a href="{% url 'article:article' article.category.slug next_article.pk %}">{{next_article.title}}</a>
            {% else %}
              Next: None
            {% endif %}
          </p>
				{% else %}
					<strong>The specified article {{ article.title }} does not exist!</strong>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 offset-sm-1">
        <div class="comment-area">
          <h3>提交评论</h3>
          {% if user.is_authenticated %}
          <form action="{% url 'comment:add_comment' %}" method="POST">
              {% csrf_token %}
              {{ comment_form.as_p }}
		          <input class="btn btn-primary" type="submit" name="submit" value="评论"/>
            </form>
          {% else %}
            <p>登录后评论</p>
          {% endif %}
        </div>
        <div class="comment-area">
          <h3>评论</h3>
          <div>
          {% for comment in comments %}
            {{ comment.user.username }}
            {{ comment.created_at|date:"Y-m-d H:n:s" }}
            {{ comment.body }}
          </div>
          {% empty %}
            <p>暂无评论</p>
          {% endfor %}
        </div>
			</div>
		</div>
	</div>
{% endblock %}
