{% extends 'base.html' %}

{% load static %}
{% load comment_extras %}

{% block title %}article{% endblock %}

{% block body_block %}
	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				{% if article %}
					<h1>{{ article.title }}</h1>
					<p class="alert alert-success">
						Type: <a href="{% url 'article:category' article.category.slug %}">{{article.category}}</a>
						Pulished by {{ article.author }} on {{ article.created_at|date:"Y-m-d H:i:s" }} 
            {% if user.is_authenticated and user == article.author %}
              <a href="{% url 'article:article_edit' article.pk %}">编辑</a>
              <a href="#" onclick="confirm_safe_delete()">删除</a>
              <form style="display:none;" id="safe_delete" action="{% url 'article:article_delete' article.pk %}" method="POST">
              {% csrf_token %}
              <button type="submit">发送</button>
              </form>
            {% endif %}
					</p>
					<p> {{ article.md | safe }} </p>
          <p>Read {{ article.read }} times,  Updated on {{ article.updated_at }}</p>
          <p>Previous: 
            {% if previous_article %}
              <a href="{% url 'article:article_detail' article.category.slug previous_article.pk %}">{{previous_article.title}}</a>
            {% else %}
              None
            {% endif %}
          </p>
          <p>Next:
            {% if next_article %}
               <a href="{% url 'article:article_detail' article.category.slug next_article.pk %}">{{next_article.title}}</a>
            {% else %}
              Next: None
            {% endif %}
          </p>
				{% else %}
					<strong>The specified article {{ article.title }} does not exist!</strong>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 offset-sm-1">
        <div class="comment-area">
          <h3>提交评论</h3>
          {% if user.is_authenticated %}
          <form id="comment_form" method="POST">
              {% csrf_token %}
              {% get_comment_form article as comment_form %}
              {{ comment_form.as_p }}
              <span id="comment_error" class="text-danger"></span>
		          <input class="btn btn-primary" type="submit" name="submit" value="评论"/>
            </form>
          {% else %}
            <p>登录后评论</p>
          {% endif %}
        </div>
        <div class="comment-area">
          <h3>评论</h3>
          <div id="comment_history">
            {% retrieve_comments article as comments %}
            {% for comment in comments %}
              <p>
              {{ comment.user.username }}
              @{{ comment.created_at|date:"Y-m-d H:i:s" }}
              :-->{{ comment.body }}
              </p>
            {% empty %}
              <p>暂无评论</p>
            {% endfor %}
          </div>
        </div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
  <script>
    $("#comment_form").submit(function(){
      $("#comment_error").text("");
          $.ajax({
            type: 'POST',
            url: '{% url 'comment:add_comment' %}',
            data: $("#comment_form").serialize(),
            dataType: 'json',
            success: function(data){
                  if(data['status']=="SUCCESS"){
                        var comment_html = data['username'] + '@' + data['comment_time'] + ':-->' + data['comment_body'];
                    $("#comment_history").prepend(comment_html);
                    $("#id_body").val('');
                  }else{
                    $("#comment_error").text(data['status']);
                  }
            },
            error: function(xhr){
              console.log(xhr);
            }
          });
          return false;
        });

    function confirm_safe_delete() {
      layer.open({
          title:"Confirmation",
          content: "确认删除这篇吗？",
          yes: function(index, layero) {
                $('form#safe_delete button').click();
                layer.close(index);
               }
      })
    }
  </script>
{% endblock %}
