{% extends 'base.html' %}

{% load static %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
	{% if category %}
		<h1>{{ category_name }}</h1>

		{% for article in articles %}
			<a href="/article/{{ category.slug }}/{{ article.slug }}">{{article.title}}</a>
			<p>
				Updated_date: {{article.last_updated_time|date:"Y-m-d"}}
			</p>
			<p>{{article.article|truncatechars:128}}</p>
		{% empty %}
			<strong>There are no articles in current category.</strong>
		{% endfor %}

	{% else %}
		The specified category {{ category_name }} does not exist!
	{% endif %}
{% endblock %}
