{% extends 'base.html' %}

{% load static %}

{% block title %}{{ category.name }}{% endblock %}

{% block body_block %}
  <div class="container">
	{% if category %}
		<h4 class="mt-4">{{ category.name }}</h4> 
    <div class="row">
      <div class="col-sm-9">
        <span style="font-size:20px">目录</span>
        {% if user.is_authenticated and user.is_staff %}
         &nbsp;(<a href="{% url 'article:category_edit' category.pk %}" class="card-link">编辑</a>)
        {% endif %}
        <hr>
      </div>
      <div class="col-sm-7">
        {{category.article_content | safe}}
      </div>
    </div>
	{% else %}
		The specified category {{ category.name }} does not exist!
	{% endif %}
  </div>
{% endblock %}
