{% extends 'base.html' %}

{% load static %}

{% block title %}Article{% endblock %}

{% block body_block %}
  <h2>OpenCADs Blogs</h2>
	<div>
	{% if user.is_authenticated %}
		Welcome,<strong>{{user.username}}</strong> 
		<a href="{% url 'auth_logout' %}?next=/article/">Logout</a>,
		<a href="{% url 'auth_password_change'%}">Change Password</a>
	{% else %}
		Welcome to the world of OpenCAD, <strong>{{ boldmessage }}</strong>
		<a href="{% url 'auth_login' %}">Login</a>
	{% endif %}
	</div>
	{% if categories %}
		<ul>
			{% for category in categories %}
			<li><a href="{% url 'article:category' category.slug %}">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}
	<a href="{% url 'article:add_article' %}">Add a New Article</a><br />
	
{% endblock %}
