{% extends 'base.html' %}

{% load static %}
{% load comment_extras %}
{% load userprofile_extras %}

{% block title %}article{% endblock %}

{% block body_block %}
	<div class="container">
		<div class="row">
			{% if news %}
				<h1 class="col-sm-12 mt-4 mb-4">{{ news.title }}</h1>
			  <div class="col-sm-10">
					<p class="alert alert-success">
            Pulished by <strong style="color: red">{{ news.author }}</strong> on {{ news.created_at|date:"Y-m-d H:i:s" }} 
						in <a href="{% url 'news:category' news.category.slug %}">{{news.category}}</a>
            {% if user.is_authenticated and user == news.author %}
              <a href="{% url 'news:news_edit' news.pk %}">编辑</a>
              <a href="#" onclick="confirm_safe_delete()">删除</a>
              <form style="display:none;" id="safe_delete" action="{% url 'news:news_delete' news.pk %}" method="POST">
              {% csrf_token %}
              <button type="submit">发送</button>
              </form>
            {% endif %}
					</p>
					<p> {{ news.md | safe }} </p>
          <hr>
          <p class="text-center">浏览: {{ news.read }},  更新: {{ news.updated_at }}</p>
          <div style="text-align:center;" class="mt-4">
            <button class="btn btn-outline-danger" type="button"
              onclick="validate_is_like( {{ news.id }}, {{ news.likes }} )"
            >
              <span>点赞</span>
              <span><i class="fas fa-heart"></i></span>
              <span id="likes_number">{{ news.likes }}</span>
            </button>
            <button class="btn btn-outline-primary" type="button"
              onclick="add_favorite()"
            >
              <span id="favorite_status">收藏</span>
              <span><i class="fas fa-star"></i></span>
            </button>
            <form style="display:none;" id="favorite_form" method="POST">
                {% csrf_token %}
                {% get_favorite_form news as favorite_form %}
                {{ favorite_form.as_p }}
		            <input class="btn btn-primary" type="submit" name="submit" value="收藏"/>
            </form>
          </div>
          <br>
          <div class="row justify-content-end">
          {% if previous_news %}
            <div class="col-auto mr-auto">
              <a href="{% url 'news:news_detail' news.category.slug previous_news.pk %}" class="btn btn-outline-info">{{previous_news.title}}</a>
            </div>
          {% endif %}
          {% if next_news %}
            <div class="col-auto">
              <a href="{% url 'news:news_detail' news.category.slug next_news.pk %}" class="btn btn-outline-info">{{next_news.title}}</a>
            </div>
          {% endif %}
			    </div>
			  </div>
        <div class="col-2">
          <h4>目录</h4>
          <hr>
					<p> {{ news.toc | safe }} </p>
        </div>
		  {% else %}
			  <strong>The specified news does not exist!</strong>
		  {% endif %}
		</div>
    <hr>
		<div class="row">
			<div class="col-sm-10">
        <div class="comment-area">
          {% if user.is_authenticated %}
          <p><strong>欢迎留言!</strong></p>
          <form id="comment_form" method="POST">
              {% csrf_token %}
              {% get_comment_form news as comment_form %}
              {{ comment_form.as_p }}
              <span id="comment_error" class="text-danger"></span>
		          <input class="btn btn-primary" type="submit" name="submit" value="评论"/>
            </form>
          {% else %}
            <br>
            <h5 class="row justify-content-center">
              请<a href="{% url 'auth_login' %}?next={{request.path}}">登录</a>后回复
            </h5>
          {% endif %}
        </div>
        <br>
        <!-- 显示评论 -->
        <div class="comment-area">
          <h4>过往评论:</h4>
          <div id="comment_history">
            {% retrieve_comments news as comments %}
            {% for comment in comments %}
              <hr>
              <p> <strong style="color: red">{{ comment.user.username }}</strong>
                 @<span style="color: green">{{ comment.created_at|date:"Y-m-d H:i:s" }}</span>:
              </p>
              <pre style="font-family: inherit; font-size: 1em;">{{ comment.body }}</pre>
            {% empty %}
              <hr>
            {% endfor %}
          </div>
        </div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
  <script>
    $("#comment_form").submit(function(){
      $("#comment_error").text("");
      $.ajax({
        type: 'POST',
        url: '{% url 'comment:add_comment' %}',
        data: $("#comment_form").serialize(),
        dataType: 'json',
        success: function(data){
          if(data['status']=="SUCCESS"){
                var comment_html = '<hr><p><strong style="color: red">' + data['username'] + '</strong> @<span style="color: green">' + data['comment_time'] + '</span>:</p><pre style="font-family: inherit; font-size: 1em;">' + data['comment_body'] + '</pre>';
            $("#comment_history").prepend(comment_html);
          }else{
            $("#comment_error").text(data['status']);
          }
        }
      });
      return false;
    });
  </script>

  <script>
    function confirm_safe_delete() {
      layer.open({
          title:"Confirmation",
          content: "确认删除这篇吗？",
          yes: function(index, layero) {
                $('form#safe_delete button').click();
                layer.close(index);
               }
      })
    };
  </script>

  <script>
    // 点赞功能主函数
    function validate_is_like(id, likes) {
      // 取出 LocalStorage 中的数据
      let storage = window.localStorage;
      const storage_str_data = storage.getItem("my_news_data");
      let storage_json_data = JSON.parse(storage_str_data);
      // 若数据不存在，则创建空字典
      if (!storage_json_data) {
        storage_json_data = {}
      };
      // 检查当前文章是否已点赞。是则 status = true
      const status = check_status(storage_json_data, id);
      if (status) {
        layer.msg('已经点过赞了哟~');
        // 点过赞则立即退出函数
        return;
      } else {
        // 用 Jquery 找到点赞数量，并 +1
        $('span#likes_number').text(likes + 1).css('color', '#dc3545');
      }

      // 用 ajax 向后端发送 post 请求
      $.ajax({
        type: 'POST',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        url: '{% url 'news:increase_likes' %}',
        data: {'newsID': id},
        success: function(data,status,xhr){
          if (status == 'success') {
            // 尝试修改点赞数据
            try {
                storage_json_data[id] = true;
            } catch (e) {
                window.localStorage.clear();
            };
            // 将字典转换为字符串，以便存储到 LocalStorage
            const d = JSON.stringify(storage_json_data);
            // 尝试存储点赞数据到 LocalStorage
            try {
              storage.setItem("my_news_data", d);
            } catch (e) {
              // code 22 错误表示 LocalStorage 空间满了
              if (e.code === 22) {
                window.localStorage.clear();
                storage.setItem("my_news_data", d);
              }
            };
          } else {
            layer.msg("与服务器通信失败..过一会儿再试试呗~");
          }
        }
      });
    };

    // 辅助点赞主函数，验证点赞状态
    function check_status(data, id) {
      // 尝试查询点赞状态
      try {
        if (id in data && data[id]) {
          return true;
        } else {
          return false;
        }
      } catch (e) {
        window.localStorage.clear();
        return false;
      };
    };
  </script>
  <script>
    // 收藏
    function add_favorite() {
      // 用 ajax 向后端发送 post 请求
      $.ajax({
        type: 'POST',
        url: '{% url 'userprofile:add_favorite' %}',
        data: $("#favorite_form").serialize(),
        dataType: 'json',
        success: function(data){
          if(data['status']=="SUCCESS"){
            $('span#favorite_status').text("已收藏");
          } else {
            layer.msg("收藏失败..过一会儿再试试呗~");
          }
        }
      });
    };
  </script>

{% endblock %}
