<!DOCTYPE html>

<html lang='en'>

  <head>
		<meta charset="utf-8">
		<title>openCAD - {% block title %}openCAD{% endblock %}</title>
  </head>

  <body>
		<div>
			<div>
				openCAD
			</div>
			<div>
				<ul>
					<li><a href="{% url 'blog:index' %}">Home</a></li>
					<li><a href="{% url 'blog:about' %}">About</a></li>
				</ul>
			</div>
			<div>
				{% if user.is_authenticated %}
					Welcome,<strong>{{user.username}}</strong> 
					<a href="{% url 'auth_logout' %}?next=/blog/">Logout</a>,
					<a href="{% url 'auth_password_change'%}">Change Password</a>
				{% else %}
					Welcome to the world of OpenCAD, <strong>{{ boldmessage }}</strong>
					<a href="{% url 'auth_login' %}">Login</a>
				{% endif %}
				or, <a href="{% url 'registration_register' %}">Sign Up</a> 
			</div>
		</div>

	  <div>
		  {% block body_block %}{% endblock %}
	  </div>

  </body>

</html>
