{% extends 'blog/base.html' %}

{% load static %}

{% block title %}Blog{% endblock %}

{% block body_block %}
  <h2>OpenCADs Blogs</h2>

	{% if categories %}
		<ul>
			{% for category in categories %}
			<li><a href="{% url 'blog:category' category.slug %}">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}
	<a href="{% url 'blog:add_article' %}">Add a New Article</a><br />
	
	<img src="{% static "blog/images/galaxy.jpg" %}" alt="My image">
{% endblock %}
