{% load static %}
<!DOCTYPE html>
<html lang='en'>

  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		{% block meta %}{% endblock %}

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.5/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
		<!-- icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

		<title>OpenCAD {% block title %}{% endblock %}</title>
  </head>

  <body>
		<header class="page-header">
			{% include 'navbar.html' %}
		</header>

		<main role="main">
			{% block body_block %}{% endblock %}
		</main>

		{% include 'footer.html' %}

		<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'jquery.min.js' %}"></script>
		<script src="{% static 'bootstrap-4.5/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'layer/layer.js' %}"></script>
    
    {% block javascript %}{% endblock %}
  </body>

</html>
