<footer class="page-footer">
	<div class="row">
		<div class="col-12 col-md">
      <h5>OPENCADS</h5>
  	  <small class="d-block mb-3 text-muted">&copy; 2020-2025</small>
  	</div>
  	<div class="col-6 col-md">
  	  <h5>Features</h5>
  	  <ul class="list-unstyled text-small">
  	    <li><a class="text-muted" href="#">Cool stuff</a></li>
  	    <li><a class="text-muted" href="#">Random feature</a></li>
  	    <li><a class="text-muted" href="#">Team feature</a></li>
  	    <li><a class="text-muted" href="#">Stuff for developers</a></li>
  	    <li><a class="text-muted" href="#">Another one</a></li>
  	    <li><a class="text-muted" href="#">Last time</a></li>
  	  </ul>
  	</div>
  	<div class="col-6 col-md">
  	  <h5>Resources</h5>
  	  <ul class="list-unstyled text-small">
  	    <li><a class="text-muted" href="#">Resource</a></li>
  	    <li><a class="text-muted" href="#">Resource name</a></li>
  	    <li><a class="text-muted" href="#">Another resource</a></li>
  	    <li><a class="text-muted" href="#">Final resource</a></li>
  	  </ul>
  	</div>
  	<div class="col-6 col-md">
  	  <h5>About</h5>
  	  <ul class="list-unstyled text-small">
  	    <li><a class="text-muted" href="#">Team</a></li>
  	    <li><a class="text-muted" href="#">Locations</a></li>
  	    <li><a class="text-muted" href="#">Privacy</a></li>
  	    <li><a class="text-muted" href="#">Terms</a></li>
  	  </ul>
  	</div>
    <button type="button" id="BackTop" class="toTop-arrow"></button>
	</div>

<script>
  // 向上滚动的函数
  $(function () {
    $('#BackTop').click(function () {
      $('html,body').animate({scrollTop: 0}, 333);
    });
  });
</script>

<style>
/* 按钮边框的大小、位置、样式 */
  .toTop-arrow {
      width: 2.5rem;
      height: 2.5rem;
      padding: 0;
      margin: 0;
      border: 0;
      border-radius: 33%;
      opacity: 0.7;
      background: #686868;
      cursor: pointer;
      position: fixed;
      right: 1.5rem;
      bottom: 1.5rem;
      z-index: 99;
  }

  /* 绘制按钮中的向上箭头 */
  .toTop-arrow::before, .toTop-arrow::after {
      width: 20px;
      height: 5px;
      border-radius: 3px;
      background: #e8e8e8;
      position: absolute;
      content: "";
  }

  .toTop-arrow::before {
      transform: rotate(-45deg) translate(0, -50%);
      left: 0.4rem;
  }

  .toTop-arrow::after {
      transform: rotate(45deg) translate(0, -50%);
      right: 0.4rem;
  }

  .toTop-arrow:focus {
      outline: none;
  }
</style>

</footer>
